*~

# Build directory
/build/*
/build-clang/*

# Generated CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Configuration files
CMakeConfigureLog.yaml

# Dependency files
*.d

# Generated binaries
/starpu_server
*.elf
*.map

# Temporary files
CMakeTmp/
CMakeScratch/
*.log
*.tmp

# CMake cache (in subfolders)
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
**/cmake_install.cmake

# DNN torchs model
*.pt

# Python files
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environments
.venv/
.venv-*/
venv/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# CLion / JetBrains
.idea/
cmake-build-*/

# Files generated automatically by protoc
*.pb.cc
*.pb.h

ops/prometheus/data
