[submodule "external/prometheus-cpp"]
	path = external/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
